<html>
    <head>
        <link rel="stylesheet" href="index.css">
      <script src="https://unpkg.com/vue"></script>

    </head>
    <body>
        <div id="app">
            <h2>Vue presentation at {{ location }}</h2>
            <label>Add an attendee</label>
            <input type="text" v-model="newAttendee"></input>
            <p>Welcome to {{location }} {{ newAttendee }}</p>
            <button v-on:click="addAttendee()">Add attendee</button>
            <p v-for="a in attendees"> {{ a }}</p>
      </div>


    </body>
</html>
